[Unit]
Description=sliceosm-api
After=network-online.target

[Service]
ExecStart=/home/osmx/sliceosm-api -filesDir=/mnt/www/files -exec=/home/osmx/OSMExpress/osmx /mnt/planet.osmx
Environment="TMPDIR=/mnt/tmp"
Restart=always
User=osmx

[Install]
WantedBy=multi-user.target
